<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="/">Home</a></li>
                    {% if product %}
                    <li><a href="#">{{ product.category.name }}</a></li>
                    <li><span>{{ product.name }}</span></li>
                    {% else %}
                    <li><span>{{ category.name }}</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

